
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <meta name="description" content="Find out more about Crowd Order and how we help SME's and Start Ups." />
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h1>About Us</h1>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>About Us</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">
            <div class="row content">
                <div class="col-lg-6" style="padding-top:30px;">
                    <p>
                        Crowd Order was founded with one simple purpose in mind; to support small and growing businesses to reduce costs and improve access to premium products and services.
                    </p>
                    <p>
                        Too often society favours the big guy, with greater purchasing power and the resources to enhance their business. But what about entrepreneurs and founders of smaller companies? How do you get a better deal and reduce costs in an efficient way?
                    </p>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0" style="text-align:center;">
                    <img src="~/img/about1300.png" />
                </div>
            </div>
            <div class="row content" style="margin-top:40px;">
                    <div class="col-lg-6 hideSmall" style="text-align:center;">
                        <img src="~/img/about2300.png" />
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Crowd Order has created a fairer Marketplace to save these companies thousands per year by aggregating the buying power of hundreds of smaller businesses.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Lots of small businesses sign-up for free on Crowd Order</li>
                            <li><i class="ri-check-double-line"></i> Crowd Order aggregates this  buying power to secure reduced rates with its Partners</li>
                            <li><i class="ri-check-double-line"></i> Any Crowd Order user can then access those reduced rates, at any time</li>
                        </ul>
                        <p>
                            Couple this need with the increasing pressure larger companies are coming under to lead with “Purpose” and the need to demonstrate they are giving back to society and the economy, Crowd Order both contributes to the Purpose mission, at the same time as delivering access to a new customer base.
                        </p>
                        <p>
                            It was critical to us that we ensure there is something in it for everyone, big or small.
                        </p>
                        <p>
                            <a asp-area="Identity" asp-page="/Account/Register" class="get-started-btn ml-auto">Join Crowd Order for free!</a>
                        </p>
                    </div>
                </div>

            </div>
    </section><!-- End About Section -->
  
</main><!-- End #main -->

