@{
    ViewData["Title"] = "Cookies Policy";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h1>@ViewData["Title"]</h1>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">
            <div class="form-row">
                <div class="col-md-12">
                    <p>
                        INFORMATION ABOUT OUR USE OF COOKIES
                    </p>
                    <p>
                        Our website uses cookies to distinguish you from other users of our website. This is required to provide you with a great experience when you browse our website, and also allows us to improve our site. By continuing to browse the site or mobile app ("Site") you are agreeing to our use of cookies as set out in this policy.
                    </p>
                    <p>
                        We ask for your consent for Strictly necessary cookies’, ‘Analytical cookies’, ‘Targeting cookies’, ‘Functionality cookies’ and the cookies dropped by the affiliate networks.
                    </p>
                    <p>
                        You can withdraw your consent at any time by deleting all cookies on your devices and / or by changing the cookie settings of your browser or device. We need to make you aware that if you do this, some parts of our Site and other websites and mobile apps will not function correctly if you disable cookies.
                    </p>
                    <p>
                        What is a Cookie?
                    </p>
                    <p>
                        A cookie is a small file of letters and numbers, it contains no personal information such as your name or email address. The cookie is stored on your browser or the hard drive of your computer. Cookies contain information that is transferred to your computer’s hard drive. Cookies may be placed on your device by Crowd Order, which are ‘first party’ cookies. Cookies may also be placed by another party, such as our marketing partners or social media platforms. These are called ‘third party’ cookies. Where targeting cookies are placed by third parties, any information collected by them will be used in accordance with their own privacy policies, you can find out more on their websites.
                    </p>
                    <p>
                        We use the following cookies:
                        <ul>
                            <li>Strictly necessary cookies. These are cookies that are required for the operation of our website.</li>
                            <li>Functionality cookies. These are used to recognise you when you return to our Site. This enables us to personalise our content for you and remember your preferences.</li>
                            <li>Analytical/performance cookies. They allow us to recognise and count the number of visitors and to see how visitors move around our Site when they are using it. These cookies help us to improve the way our Site works, for example, by ensuring that users are finding what they are looking for easily.</li>
                            <li>Targeting cookies. These cookies record your visit to our Site, the pages you have visited and the links you have followed. We will use this information to make our Site and the advertising displayed on it more relevant to your interests. If the cookie is set by a third party, this type of cookie may also be used to create profiles of your general online behaviour. The information collected by tracking cookies is then used to serve you with tailored online advertising. We allow approved third parties to drop these cookies via our Site for the purpose of collecting tracking information.</li>
                        </ul>
                    <p>
                        Social Media
                    </p>
                    <p>
                        Crowd Order uses Facebook (and its products, including Instagram) for advertising and includes a 'Facebook pixel' on the Crowd Order.co.uk website to improve targeting of ads to make them relevant and to improve efficiency. These pixels also allow Crowd Order to measure the effectiveness of Facebook advertising.
                    </p>
                    <p>
                        No personal information is collected by or for Crowd Order in this process. Facebook will use cookies to collect advertising data and site usage data and record it when visitors reach the Crowd Order site. Crowd Order has no visibility of individual data or personal data in this process.
                    </p>
                    <p>
                        If you log into Facebook after visiting our website, or visit Facebook while still logged in, then Facebook will assign this site visit to your personal Facebook account.
                    </p>
                    <p>
                        We are unable to draw inferences regarding your identity as a user from the recorded data. The collection and processing of the data by Facebook complies with the provisions of the Facebook Data Policy. If you would like more information in regards to this, please visit https://www.facebook.com/about/privacy.
                    </p>
                    <p>
                        Should you object to the Facebook Pixel recording your data in order to present Facebook ads to you, please visit https://www.facebook.com/about/privacy where you can turn off user data based ads. You must be logged into Facebook to access these settings. The settings will apply across all devices that you use Facebook on.
                    </p>
                    <p>
                        Manage Cookies
                    </p>
                    <p>
                        Some cookies are essential in order to use the Site, and if you do reject cookies this may affect the functionality of the Site.
                    </p>
                    <p>
                        You can choose which cookies you’d like us to store on your device by updating your browser settings. Each browser allows you to restrict or block cookies in different ways.
                    </p>
                    <p>
                        To find out more about cookies such as; managing the cookies or how to see what cookies have been set on any of the browser types listed below.
                    </p>
                    <p>
                        Visit http://aboutcookies.org.uk/managing-cookies.
                    </p>
                    <ul>
                        <li>Google Chrome</li>
                        <li>Microsoft Edge</li>
                        <li>Mozilla Firefox</li>
                        <li>Microsoft Internet Explorer</li>
                        <li>Opera</li>
                        <li>Apple Safari</li>
                    </ul>
                    <p>
                        Please note that we’re not responsible for the content of external websites.
                    </p>
                    <p>
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
